body.arabic{
    // font-family:Luma;
    font-family: Luma, Karbon;    
    font-weight: 400;
}

.arabic{

    section strong{
        font-weight: 400;
    }
    

    header.sticky, header.whitebgnav{
        font-family:Luma;
    }


.map-section .text a,
.footrightlink a,
.menu-lang-child,
.en-text,
.date-numbers,
.for-inq p a{
    font-family: Karbon;
}
.en-text{
    font-weight: 100;
}

a.en-text{
    font-weight: 200;
}

h1 span.en-text{
    font-weight:300;
}


.datebx .en-text,
.for-inq p a,
.main-slider-wrapper .text h4{
    font-weight: 500;
}
.bio-text .en-text{
    font-weight: inherit;
}

.main-slider-wrapper .text h4,
section .text,
.text-editor,
.contentbx,
#about-us,
.insight-news-section .descriptions,
.menubx,
.insight-news-section .title h3,
.partner-section .title,
#contact-us .row,
.impact-section .row,
#oursolutions .row,
#whatwedo .row,
.CookieConsent,
.wo-section .row,
.inner-pages table,
.inner-pages table tbody tr td{
    text-align: right;
    direction: rtl;
}
.inner-pages table tbody tr td{
line-height: inherit;
}

.readmore,
.slide-list{
    direction: rtl;
}
.main-slider-wrapper,
.slider-controllers,
.ceo-section blockquote,
.slick-list, .slick-slider{
    direction: ltr;
}
.ceo-section blockquote{
    position: relative;
}
.slide-list ul,
.sdg-page .language li{
    text-align: right;
}
.sdg-page .language li {
border-right: 0;
border-left: 1px solid #ccc;
float: right;
 
}


.sdg-page .language li:nth-child(4n+4) {
    border-left: none;
}



.copyrights-menu {
    justify-content: flex-end;
}

.copyrights-menu li {
    margin-left: 25px;
    margin-right: 0;
}

.oursolution-section .text .icon,
.impact-section .text .icon{
    margin-right: 0;
    margin-left: 10px;
}

.dotlist ul li::before, .newscontent ul li::before {
    left: inherit;
    right: -30px;
}

.filteration .form-control.datepicker {
  
    background-position: left 15px center;
}
header #logo,
header .logo {
    background-image: url(../images/logo-white-ar.png);
}
section .heading{
    letter-spacing: inherit;
}
.menubx li{
    padding: 0 20px;
}
.menubx li a{
    font-weight: 400;
}
.menu-lang-child{
    font-weight: 300 !important;
}

.home-news-two a,
.insight-news .links a:last-child,
.flex-slider-order-1 .links a:last-child,
.flex-slider-order-1 .links a:last-child {
    background-image:url(../images/new-arrow.png)!important;
    text-align: right !important;
    background-position: left !important;
}


.home-news-one.text .animated-text a,
.home-news-two.text .animated-text a{
    background-image:url(../images/arrow-left.png) !important;
    padding-left: 16px !important;
    padding-right: 0 !important;
    background-position: left !important;
    color: #6ac9ff;
    font-weight: 500;
    background-position-x: 0 !important;
    background-position-y: 10px !important;
    background-size: 5px !important;

}

.newsperbx .timings img {

    margin-left: 5px;
    margin-right: 0;
}
.menubx .sub-menu {
    text-align: right;
    left: inherit;
    right: 0;
}
.filteration .gobtn{
    left: 0;
    right: inherit;
}
#alj75iframe{
  display: none;
}
.loadmorewrap{
    width: 100%;
}

.myaccordian h3{
    margin-bottom: 10px;
}
.myaccordian h3::after{
    right: inherit;
    margin-right: 5px;
    transform: rotate(180deg);
    top: 15px;
    left: 0;
}
.menubx li.has-submenu i:before {
 
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 6px;
    right: auto;
    top: 2px;
 
}
.innnerslider .container{
    position: relative;
}

// Small Devices (≥768px): width: 750px
// Medium Devices (≥992px): width: 970px
// Larger Devices (≥1200px): width: 1170px

// @media only screen and (min-width: 750px){
//     .main-slider-wrapper .text{
//         max-width: 768px;
//         width: 100%;
//     }
// }

// @media only screen and (min-width: 992px){
//     .main-slider-wrapper .text{
//         max-width: 992px;
//         width: 100%;
//     }
// }



// @media only screen and (min-width: 1200px){
//     .main-slider-wrapper .text{
//         max-width: 1170px;
//         width: 100%;
//     }
// }





.peopledetail .biobx .downloadbio {
    float: left;
}
.map-section ul {

    right: -10px;
    position: relative;
}
.map-section ul li {

    margin-right: 0;
    margin-left: 10px;
}
.innnerslider .text{
    right: 0;
}

.ceo-section blockquote:after{
    margin-top: 0;
    z-index: -1;
    top: -10px;
    margin-left: 4px;
}

.ceo-section blockquote:before{
    margin-top: 0;
    margin-left: -32px;
    z-index: -1;
    bottom: 0;
}
.filteration .keysearch {

    padding-right: 15px;
    padding-left: 85px;
}

.newsperbx .socialbx {
    float: left;
    margin-top: 3px;
}
.share-options .printbtn {

    padding-left: 10px;
    border-left: 1px solid #dcdcdc;
    border-right: 0;
}

#map {
  left: auto;
    right: 50%;
}
.map-section .text span {
    margin-right: 0;
}

/* .rtbx{
    margin-top: 25px;
} */

.newsinner .datebx img {

    margin-right: 0;
    margin-left: 5px;
}


.ar-rtl{
    direction: rtl;
    display: inline-block;

}

#featuredNewsContainerGatsby{
    direction: rtl;
    text-align: right;
}

/* .partner-section .text {
    padding: 25px;
    padding-right: 0;
} */
@media only screen and (min-width: 991px){
    header.sticky #logo,
    header.sticky .logo,
    header.whitebgnav #logo, 
    header.whitebgnav .logo {
        background-image: url(../images/logo-dark-ar.png);
    }

    .footer-section .row .col-md-auto{
        width: 53%;
        }

        .footer-section .col-md-auto .text{
            max-width: 336px;
            float: right;
        }
        

}
@media only screen and (max-width: 991px){
    .menubx li.has-submenu i{
        width: 100%;
    }

    .menubx li.has-submenu i:before{
        left: 30px;
        top: 2px;
    }

    .menusocial{
        text-align: right;
    }
    .menusocial ul{
        float: right;
    }
    .menusocial ul li {
        margin-right: 0;
        margin-left: 20px;
    }
    .menubx li{
        margin-bottom: 5px;
    }
    .menu-lang-child {
     
        margin-top: 10px;
    }

    .menubx li {
        padding: 10px 25px;
    }

}
@media only screen and (max-width: 767px){
#map {
    left: 0 !important;
}

.scroll-top {

    left: 15px;
    right: auto;
}

.filteration .form-control.datepicker {

    font-size: 10px;
}
.ceo-section blockquote:after {
    width: 20px;
    height: 20px
}
.ceo-section blockquote:before {
    width: 20px;
    height: 20px;
}


.rtbx {
    padding: 25px 50px;

}
.home-news-one.text .animated-text a, 
 .home-news-two.text .animated-text a {
   
    padding-left: 16px !important;
  font-size: 16px !important;
    background-position-x: 0 !important;
    background-position-y: 7px !important;
    background-size: 4px !important;
}
.insight-news .text {
    min-height: auto;
    padding-bottom: 70px;
}

}
@media only screen and (max-width: 375px){
.rtbx {
    padding: 25px 35px;
}

}
/* <span class="ar"> </span> */

}