/*-----------For Laptop width 1366 Portrait View----------------*/
@media only screen and (min-width:1099px) {
	/* .navbar .nav-item:hover .dropdown-menu{ display: block; } */
}

/*-----------For Tablet Portrait View----------------*/
@media only screen and (max-width:1099px) {
.video-section iframe {
	height: 500px;
}
.main-slider .slider-transparent {
	min-height: 450px;
}
.scroll-down {
	left: auto;
	right: 0;
}
.newsright h4 {
    font-size: 26px;
}
.presskitdn .pkimage {
    width: 25px;
    margin-right: 10px;
}
.presskitdn p {
    font-size: 15px;
}
.peoplebiobx h5 {
    font-size: 22px;
}
}

/*-----------For Tablet Portrait View----------------*/
@media only screen and (max-width:991px) {
.navbar .navbar-toggler:focus {
	outline: none;
}
.navbar {
	background: rgb(13, 35, 59, 0.98) !important;
}
.navbar {
    z-index: 999;
}
.navbar .nav-item {
	padding: 0;
}
.navbar .navbar-nav .nav-link {
	font-size: 18px !important;
	padding: 15px 0 !important;
}
.navbar-collapse {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgb(13, 35, 59);
	padding: 40px 20px;
}
.navbar-collapse.collapsing {
	left: -100%;
	transition: height 0s ease;
}
.navbar-collapse.show {
	left: 0;
	transition: left 300ms ease-in-out;
}
.closeMenu {
	color: #fff;
	font-size: 22px;
	line-height: 1;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	z-index: 99;
	width: 25px;
}
.closeMenu img {
	max-width: 100%;
}
.navbar .navbar-brand {
	margin-right: 0;
}
.navbar>.container {
	flex-direction: row-reverse;
}
.navbar .navbar-toggler {
	border: 0;
	border-radius: 0;
	padding-left: 0;
}
.navbar .dropdown-menu {
    width: 100%;
    border-top: 1px solid #1A3452;
    border-bottom: 1px solid #1A3452;
    padding: 10px 0;
    margin-top: 0;
}
.navbar .dropdown-menu li + li {
	border: none;
}
.menusocial {
	width: 100%;
	padding: 15px 0;
	margin-top: 10px;
	border-top: 1px solid #fff;
}
.menusocial p {
	font-size: 18px;
	color: #fff;
}
.menusocial ul {
	padding: 0;
	margin: 0;
}
.menusocial ul li {
	list-style: none;
	margin-right: 20px;
	padding: 0;
}
.menusocial img {
	height: 17px;
	width: auto;
}
section .heading {
	font-weight: 400;
	letter-spacing: 2px;
}
.main-slider-wrapper .text {
	top: 60%;
}
.main-slider-wrapper .text h4 {
	font-size: 32px;
}
.slider-controllers .count {
	font-weight: 100;
	width: 60px;
	font-size: 20px;
}
.impact-section .text,  .whatwedo-section .text,  .oursolution-section .text,  .partner-section .text {
	padding: 25px 0;
}
.ceo-section .bg {
	background: none;
}
.ceo-section img {
	width: 100%;
}
.africa-section {
	background-position: center center;
}
.oursolution-section {
	margin-top: 50px;
}
.video-section iframe {
	height: 400px;
}
.newsinner h1 {
    font-size: 48px;
}
.newsright {
	margin-top: 50px;
}
.filteration .btnclear {
	width: 100%;
    margin-left: 0px;
}
.filteration .form-group {
    margin-bottom: 20px;
}
.relarticle .slick-arrow {
    top: 30%;
}
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}
.peoplebiobx {
    margin-bottom: 25px;
}
}

/*-----------For Mobile View----------------*/
@media only screen and (max-width:767px) {
body {
	font-size: 14px;
}
.navbar {
    z-index: 999;
    padding: 12px 15px !important;
}
.navbar .logo {
    width: 200px;
}
.main-slider-wrapper .text {
	width: 100%;
	left: 0;
    padding: 0 15px;
}
.main-slider-wrapper .text h4 {
	font-size: 26px;
}
#map {
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	height: 300px;
	width: 100%;
}
.donwload-apps {
	margin-bottom: 10px;
}
.ftsocial {
    margin: 30px 0;
}
.ftsocial img {
	width: 120px;
}
section strong {
	font-weight: 16px;
	font-size: 18px;
}
.section h5 {
	font-size: 22px;
}
.contentbx h4, .section h4, .grey-bg h4 {
	font-size: 26px;
}
.ceo-section .d-flex {
	margin-left: 0;
}
.ceo-section .text {
	padding: 30px;
}
.ceo-section blockquote {
	font-size: 18px;
}
.ceo-section .text {
	padding: 30px;
	padding-bottom: 50px;
}
.ceo-section blockquote:before {
    width: 26px;
    height: 20px;
    margin-top: -19px;
}
.ceo-section blockquote:after {
    width: 26px;
	height: 20px;    
	margin-top: 24px;
    margin-left: 0;
}
.scroll-top {
	left: auto;
	right: 15px;
}
#cookieConsent {
	font-size: 12px;
	line-height: 18px;
	padding: 15px 0;
}
.video-section iframe {
	height: 250px;
}

section .text {
    padding: 30px 0;
}
.whatwedo-section .text h5 {
    margin-top: 20px;
    margin-bottom: 15px;
}
section .heading {
    font-size: 15px;
    margin-bottom: 15px;
}
.wo-section .container > .row > [class*="col-"]:first-child .text,
.whatwedo-section .container > .row > [class*="col-"]:not(:last-child) .text,
.mpb0 {
	padding-bottom: 0 !important;
}
.map-section .fallow-us {
    margin-top: 50px;
}
.map-section ul {
	margin: 0;
}
.newsinner, .pt150 {
	padding-top: 120px;
}
.newsinner h1 {
    font-size: 28px;
}
.featuredwrapper {
    padding: 20px 15px;
    margin-bottom: 0px;
}
.featuredwrapper h2 {
    font-size: 28px;
}
.newsperbx {
    margin-top: 20px;
}
.newsperbx h4 {
    height: auto;
    font-size: 20px;
    margin: 10px 0 5px;
}
.slide-list ul li {
    padding: 0 10px 0 0;
    font-size: 13px;
}
.contentbx {
    padding: 40px 0;
}
.bigp {
    font-size: 18px;
}
.filteration {
    margin: 40px 0;
    padding: 20px 0;
}
.ceoblock h4, .peoplelists h4 {
    margin-bottom: 20px;
}
.peoplebiobx h5 {
    font-size: 18px;
}
.peoplebiobx p {
    font-size: 14px;
}
}

@media only screen and (max-width:360px) {
}